@charset "UTF-8";

.title {
  font-size:50px;
  text-align: center;
  margin-top:200px;
  font-family: serif;
  background:url("../img/旅館２.jpeg") no-repeat ;
  background-size: cover;
  color:white;
  width:100%;
  height:500px;
  position:relative;
  top:-100px;
  margin-bottom:200px;
}

.img {
  display:flex;
}

.img img {
  width:33%;
}

span {
  font-size:30px;
  font-family:serif;
}

.O {
  display:flex;
  margin-top:300px;
}

.O p {
  margin-left:300px;
}

.R {
  display:flex;
  margin-top:300px;
}

.R img {
  width:40%;
 margin-left:500px;
}

.R p {
  margin-left:100px;
}

.P {
  display:flex;
  margin-top:300px;
}

.P p {
  margin-left:300px;
}


.L{
  position:relative;
  top:200px;
}


span {
 position:relative;
 top:-30px;
 border-bottom: solid green 3px;
}

@media screen and (max-width: 1024px) {
  .R{
  white-space: nowrap;}
  .R img {
    margin-left:200px;
  }
  .O p {
    white-space: nowrap;
    margin-left:200px;
  }
  body {
  height:4100px;
  }
  .P p {
    white-space: nowrap;
    margin-left:200px;
  }
}
@media screen and (max-width: 768px) {
  .O img{
    width:40%;
  }
  .P img{
    width:40%;
  }

  .O p {
  margin-left:90px;
  }
  .P p {
  margin-left:90px;
  }

  .R img {
    margin-left:100px;
  }

  body {
    height:3440px;
  }
}

@media screen and (max-width: 480px) {

  .O img {
    width:100%;
  }

  .O p {
    position:relative;
    top:300px;
    position:relative;
 margin-left:-330px;
  }

  .R img {
    width:100%;
    position:relative;
    left:-400px;
  }

  .R p {
    position:relative;
    top:250px;
    position:relative;
    left:-80px;
  }

  .P img {
    width:100%;
  }

  .P p {
    position:relative;
    top:300px;
    position:relative;
    left:-420px;
  }

  body {
    height:2940px;
  }

  .img {
    margin-top:-200px;
    margin-bottom:-200px;
  }
}
